/* Estilos gerais da página */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #0F172A;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

/* Estilização da barra de navegação superior */
nav {
    background-color: #c29e10;
    min-height: 100px;

    font-size: 20px;

    color: white;
}

.link-git {
    text-decoration: none;
    color: inherit;
}

.link-git:hover {
    color: black;
}

.nav-item .nav-link:hover {
    color: #000000 !important;
    /* Força a cor preta */
}

/*Estilização da barra de navegação superior*/

/* ---------------------------------------------------------------------------- */


/* Estilização da seção inicial */
/* PC */
.container-inicio {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/sectionInicio/pele.jpg');
    background-size: cover;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.botaoJogadores:hover {
    background-color: #947c1e;
    border-color: #947c1e;
}


/* PC */

/* Celular */
@media (max-width: 991px) {
    .container-inicio {
        background-position: center center;
        background-repeat: no-repeat;
    }
}

/* Celular */

/* Estilização da seção inicial */


/* ---------------------------------------------------------------------------- */


/* Estilização da seção de jogadores */
/* PC */
#jogadores {
    color: white;
    background-color: #182441;
}

.card {
    background-color: #151d29;
    color: white;

    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.card img {
    width: 70%;
    height: 350px;
    object-fit: cover;
    object-position: center;

    border-radius: 15px;

    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.jogadores-mobile {

    display: none;

}

/* PC */

/* Celular */
@media(max-width:991px) {

    .jogadores-desktop {
        display: none;
    }

    .jogadores-mobile {
        display: block;
    }

    .carousel-item {
        padding: 20px;
    }

    .carousel-item .card {
        max-width: 350px;
        margin: auto;
    }

    .carousel-item .card {
        max-width: 350px;
        margin: auto;
    }
}

/* Celular */
/* Estilização da seção de jogadores */


/* ---------------------------------------------------------------------------- */


/* Estilização do container Estatisticas */

#estatisticas {
    color: white;
    background-color: #1F3A5F;

    height: 80vh;
}

#estatisticas table {
    min-height: 400px;
}
/* PC */

/* Celular */
@media (max-width: 991px) {
    #estatisticas table {
        min-height: 200px;
    }
}

@media (min-width:768px) and (max-width:991px){

    #estatisticas{
        max-height: 600px;
    }

}
/* Celular */
/* Estilização do container Estatisticas */


/* ---------------------------------------------------------------------------- */


/* Estilização do container Curiosidades */
/* PC */
#curiosidades {
    color: white;
    background-color: #182441;
    min-height: 90vh;
}

.curiosidades-mobile {
    display: none;
}

/* PC */

/* Celular */
@media (max-width:991px) {

    .curiosidades-desktop {
        display: none;
    }

    .curiosidades-mobile {
        display: block;
    }

    .curiosidades-mobile .card {
        max-width: 340px;
        margin: auto;
    }

}

@media (min-width:768px) and (max-width:991px){

    #curiosidades{
        min-height: auto;
    }

}
/* Celular */

/* Estilização do container Curiosidades */


/* ---------------------------------------------------------------------------- */


/* Estilização do rodapé */
footer {
    color: white;
    min-height: 100px;
}

/* Estilização do rodapé */


/* ---------------------------------------------------------------------------- */


/* Estilo do botão flutuante para voltar ao topo */
#btnTopo {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 55px;
    height: 55px;

    border: none;
    border-radius: 50%;

    background-color: #ffc107;
    color: black;

    font-size: 22px;
    cursor: pointer;

    z-index: 9999;

    opacity: 0;
    visibility: hidden;

    transition: .3s;
}

#btnTopo.ativo {
    opacity: 1;
    visibility: visible;
}

@media (min-width:992px) {

    #btnTopo {
        display: none;
    }

}